@model BEUAsistencia.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugar_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugar_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_civil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area_trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area_trabajo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_emp }, new { @class = "btn btn-info" }) 
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-warning" })
</p>
