@model BEUAsistencia.Asistencia

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminar</h3>
<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_salida)
        </dd>

        <dt>
            @Html.Label("Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre_completo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
